
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{

  body{
    font-family: 'Poppins', sans-serif;
  }
}
@layer components{
  .tre{
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient: vertical; 
    overflow:hidden;

  }
  .one{
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical; 
    overflow:hidden;

  }

  .NavbarLinks{
     @apply text-white   w-7  flex items-center hover:text-red-700 transition-all  duration-500
  }
  .NavbarMenu {
    @apply text-white flex items-center text-sm lg:text-[13px] font-normal
  }
  .DropDown{
   box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    @apply absolute  right-0    bg-white

  }
  .DropDown-item{
   @apply flex items-center  w-full cursor-pointer
  }
  .headerNavList{
@apply    text-[#666] text-sm leading-4 mr-5 hover:text-primary
  }
  .sidebarMobile{
   box-shadow: 0 6px 12px rgb(0 0 0 / 18%);

  }
  .mobile-sideBarİtem{
    @apply border-b mx-3 pt-10  w-full cursor-pointer
   }
}
.slick-dots li{
  margin-right: 20px;
}
.slick-dots li button{ 
  width: 30px;
  border-radius: 50px;
  height: 2px;
 background-color: yellow;
 position: absolute;
 bottom: 40px;
}
.slick-dots li.slick-active button{
  background-color: blue;
 }
.slick-dots li button::before{
  display: none;
 }

 .sliderTextSave{
  position: absolute;
  right: 10%;
  top: 40%;
  font-size: 12px;
  font-weight: 500;
  text-transform: unset;
  line-height: 22px;
  margin-bottom: 20px;
  letter-spacing: 8px;
  color:#323c9d;
  background-color: #ffffff;
  padding: 9px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
 }
 .sliderTextWatch{
  position: absolute;
  right: 10%;
  top: 40%;
  font-size: 12px;
  font-weight: 500;
  text-transform: unset;
  line-height: 22px;
  margin-bottom: 20px;
  letter-spacing: 8px;
  color:#323c9d;
  background-color: #ffffff;
  padding: 9px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
 }
 .sliderSpanSave{
  position: absolute;

  color: #232323;
  text-transform: unset;
  width: auto;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  @apply  text-lg  lg:text-5xl font-bold  right-[20%] top-[40%]  lg:right-[16%] lg:top-[50%]
 }
 .sliderSpanWatch{
  position: absolute;

  color: #232323;
  text-transform: unset;
  width: auto;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.7px;
  @apply  text-lg  lg:text-5xl font-bold  right-[13%] top-[40%] lg:right-[10%] lg:top-[50%]

 }
 .sliderBtn{
  position: absolute;

  opacity: 1;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 18px;
  text-transform: uppercase;
  border-radius: 50px;
  color: #232323;
  background-color: #ffd200;
  border: 1px solid #ffd200;
  box-shadow: 0;
  outline: none;
  line-height: 20px;
bottom: 18%;
font-size: 9px;
@apply lg:text-sm text-[9px]  py-[2px] px-[10px] lg:py-[8px] lg:px-[18px]  right-[28%]
}
.home-item{
 @apply  w-full rounded-md h-[260px] relative
}
 .home-item .minTitle{
  font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 4px;
    margin-bottom: 15px;
   
    padding-bottom: 8px;
   
    top: 24px;
   position: absolute; 
   border-bottom: 1px solid #676374;
 }
 .home-item .title{
  font-weight: 500;
    font-size: 31px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
   position: absolute; 

  
   top: 64px;

  
 }
 .home-item .pops{
  position: absolute;
  top: 114px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 6px;
  padding: 6px 15px;
  border-radius: 5px;
  text-transform: unset;
  line-height: 22px;
  letter-spacing: 8px;
  color: #1a3b5b;
 }
 .home-item .btn{ 
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid #fff;
  
  opacity: 1;
  font-size: 14px;
  font-weight: 400;
 }


 .item-Product-left  .minTitle{
  position: absolute; 
  font-weight: 500;
 font-size: 13px;
 line-height: 13px;
 letter-spacing: 4px;
 margin-bottom: 15px;
 padding-bottom: 8px;
 top: 24px;
   border-bottom: 1px solid #676374;
 }
 .item-Product-left  .title{
  font-weight: 500;
    font-size: 31px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
   position: absolute; 

  
   top: 64px;

  
 }
 .item-Product-left  .pops{
  position: absolute;
  top: 114px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 6px;
  padding: 6px 15px;
  border-radius: 5px;
  text-transform: unset;
  line-height: 22px;
  letter-spacing: 8px;
  color: #1a3b5b;
  @apply  bg-[#ffd200]
 }
 .item-Product-left  .btn{ 
  cursor: pointer;
  position: absolute;
  background: transparent;
  border: 0;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
  border-bottom: 1px solid ;

  font-size: 14px;
  font-weight: 400;
  bottom: 30px;
 }







 .discount-item{
  position: relative;
 }
 .discount-item .min-title{
  position: absolute;
  top: 10%;
  right: 18%;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 4px;
  padding-bottom: 8px;
  margin-bottom: 12px;
  display: inline-block;
  border-bottom: 1px solid #d6d5d5;
 }
 .discount-item .title{
  font-weight: 500;
  top: 25%;
  position: absolute;

  right: 5%;
  font-size: 28px;
  line-height: 33px;
 }

 .discount-item .btn{
  position: absolute;
  bottom: 5%;
  display: inline-block;
  right: 10%;
  background-color: transparent;
  padding: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #232323;
  border-bottom: 1px solid #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
 }


 .deal-products-slider{
  position: relative;
 }

 .Categories-slider{
display: flex;
flex-direction: column;

}